<div class="animal-card">
  <img class="animal-image" [src]="'http://localhost:8080/' + infoAboutPet.photoPath" alt="Photo">
  <div class="animal-info">
    <h2>Id: {{infoAboutPet.id}}</h2>
    <h2>Кличка: {{ infoAboutPet.name }}</h2>
    <p>Возраст: {{ infoAboutPet.age }}</p>
    <div class="description">
      <p>Описание: {{ infoAboutPet.description }}</p>
    </div>
  </div>
  <div class="button-group">
    <button (click)="changeUpdateWindowState()">Изменить</button>
    <button (click)="deleteAnimal()">Удалить</button>
  </div>
</div>

<app-update-pet-window *ngIf="isUpdatePetWindowOpen()" [animal]="infoAboutPet"></app-update-pet-window>
