.styled-red-button {
  border-radius: 2px;
  color: black;
  transition: .2s linear;
  background: navajowhite;
  margin: 1em;
}

.styled-red-button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px navajowhite;
}


* {
  height: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
